# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [56]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [57]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Barrow,71.2906,-156.7887,28.42,86,20,10.36,US,few clouds
1,1,Verkhnyaya Inta,65.9811,60.3094,9.19,91,100,31.34,RU,light snow
2,2,Kavaratti,10.5669,72.6420,81.90,69,6,9.55,IN,clear sky
3,3,Geraldton,-28.7667,114.6000,61.21,77,75,19.57,AU,broken clouds
4,4,Lubao,14.9167,120.5500,80.31,86,99,5.53,PH,overcast clouds
5,5,Vuktyl,63.8567,57.3094,6.51,88,100,13.13,RU,overcast clouds
6,6,Katangli,51.7102,143.2326,20.80,84,45,6.24,RU,scattered clouds
7,7,Olafsvik,64.8945,-23.7142,44.76,85,55,15.59,IS,broken clouds
8,8,Khatanga,71.9667,102.5000,-21.75,89,100,9.17,RU,overcast clouds
9,9,Lagoa,39.0500,-27.9833,60.82,55,13,8.34,PT,few clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [58]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?60
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [59]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp)&\
                                      (city_data_df["Max Temp"]>= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Kavaratti,10.5669,72.6420,81.90,69,6,9.55,IN,clear sky
3,3,Geraldton,-28.7667,114.6000,61.21,77,75,19.57,AU,broken clouds
4,4,Lubao,14.9167,120.5500,80.31,86,99,5.53,PH,overcast clouds
9,9,Lagoa,39.0500,-27.9833,60.82,55,13,8.34,PT,few clouds
11,11,Hithadhoo,-0.6000,73.0833,81.07,74,30,14.03,MV,scattered clouds
12,12,Cape Town,-33.9258,18.4232,60.28,73,0,9.22,ZA,clear sky
16,16,Ligayan,4.6533,119.4706,82.47,74,90,4.81,PH,overcast clouds
17,17,Ndele,8.4109,20.6473,70.88,34,85,4.09,CF,overcast clouds
20,20,Victor Harbor,-35.5667,138.6167,72.00,56,99,12.91,AU,overcast clouds
22,22,Namatanai,-3.6667,152.4333,84.45,62,92,7.40,PG,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [60]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
2,2,Kavaratti,10.5669,72.6420,81.90,69,6,9.55,IN,clear sky
3,3,Geraldton,-28.7667,114.6000,61.21,77,75,19.57,AU,broken clouds
4,4,Lubao,14.9167,120.5500,80.31,86,99,5.53,PH,overcast clouds
9,9,Lagoa,39.0500,-27.9833,60.82,55,13,8.34,PT,few clouds
11,11,Hithadhoo,-0.6000,73.0833,81.07,74,30,14.03,MV,scattered clouds
12,12,Cape Town,-33.9258,18.4232,60.28,73,0,9.22,ZA,clear sky
16,16,Ligayan,4.6533,119.4706,82.47,74,90,4.81,PH,overcast clouds
17,17,Ndele,8.4109,20.6473,70.88,34,85,4.09,CF,overcast clouds
20,20,Victor Harbor,-35.5667,138.6167,72.00,56,99,12.91,AU,overcast clouds
22,22,Namatanai,-3.6667,152.4333,84.45,62,92,7.40,PG,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [61]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City","Country","Max Temp","Current Description","Lat","Lng"]].copy()

# Display sample data
hotel_df.head(5)

         City Country  Max Temp Current Description      Lat       Lng
2   Kavaratti      IN     81.90           clear sky  10.5669   72.6420
3   Geraldton      AU     61.21       broken clouds -28.7667  114.6000
4       Lubao      PH     80.31     overcast clouds  14.9167  120.5500
9       Lagoa      PT     60.82          few clouds  39.0500  -27.9833
11  Hithadhoo      MV     81.07    scattered clouds  -0.6000   73.0833

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [62]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]= ""

# Display sample data
hotel_df.head(5)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavaratti,IN,81.90,clear sky,10.5669,72.6420,
3,Geraldton,AU,61.21,broken clouds,-28.7667,114.6000,
4,Lubao,PH,80.31,overcast clouds,14.9167,120.5500,
9,Lagoa,PT,60.82,few clouds,39.0500,-27.9833,
11,Hithadhoo,MV,81.07,scattered clouds,-0.6000,73.0833,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [63]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [64]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [65]:
# Display sample data
hotel_df.head(5)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavaratti,IN,81.90,clear sky,10.5669,72.6420,Green leaf
3,Geraldton,AU,61.21,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
4,Lubao,PH,80.31,overcast clouds,14.9167,120.5500,Hacienda Gracia
9,Lagoa,PT,60.82,few clouds,39.0500,-27.9833,Casa Das Faias
11,Hithadhoo,MV,81.07,scattered clouds,-0.6000,73.0833,Scoop Guest House

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [66]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(5)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kavaratti,IN,81.90,clear sky,10.5669,72.6420,Green leaf
3,Geraldton,AU,61.21,broken clouds,-28.7667,114.6000,Broadwater Mariner Resort
4,Lubao,PH,80.31,overcast clouds,14.9167,120.5500,Hacienda Gracia
9,Lagoa,PT,60.82,few clouds,39.0500,-27.9833,Casa Das Faias
11,Hithadhoo,MV,81.07,scattered clouds,-0.6000,73.0833,Scoop Guest House

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [67]:
# In case of an empty DataFrame, load the sample data provided
clean_hotel_df = pd.read_csv("../Vacation_Itinerary/WeatherPy_vacation-backup.csv")
clean_hotel_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Aksu,CN,82.42,clear sky,41.12,80.26,Pudong Holiday Hotel
1,7,Touros,BR,80.60,broken clouds,-5.20,-35.46,INN NEW HORIZON
2,10,Morehead,US,75.20,clear sky,37.27,-87.18,CCI Express Inn
3,11,Port Elizabeth,ZA,84.20,clear sky,-33.92,25.57,39 On Nile Guest House
4,16,Northam,GB,82.40,few clouds,51.03,-4.22,Durrant House Hotel
5,18,Hyderabad,IN,87.01,haze,17.38,78.47,"Taj Krishna, Hyderabad"
6,20,Port Alfred,ZA,82.00,clear sky,-33.59,26.89,The Halyards Hotel
7,22,Atuona,PF,79.72,clear sky,-9.80,-139.03,Villa Enata
8,23,Kapaa,US,73.40,heavy intensity rain,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
9,25,Nikolskoye,RU,88.00,clear sky,59.70,30.79,Tourist House - Sablino

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [68]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [76]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [77]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pudong Holiday Hotel</dd>\n<dt>City</dt><dd>Aksu</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>INN NEW HORIZON</dd>\n<dt>City</dt><dd>Touros</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>CCI Express Inn</dd>\n<dt>City</dt><dd>Morehead</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 75.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.2 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Durrant House Hotel</dd>\n<dt>City</dt><dd>Northam</dd>\n<dt>Country</dt><dd>GB</dd>\n<dt>Current Weather</dt><dd>few clouds and 82.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Taj Krishna, Hyderabad</dd>\n<dt>City</dt><dd>Hyderabad</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>haze and 87.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>clear sky and 82.0 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.72 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Resort at Coconut Beach</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 73.4 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Tourist House - Sablino</dd>\n<dt>City</dt><dd>Nikolskoye</dd>\n<dt>Country</dt><dd>RU</dd>\n<dt>Current Weather</dt><dd>clear sky and 88.0 °F</dd>\n</dl>\n']

In [71]:
pip install gmaps

Requirement already satisfied: gmaps in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (0.8.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from gmaps) (7.31.1)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from gmaps) (7.6.5)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from gmaps) (5.1.1)
Requirement already satisfied: geojson>=2.0.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from gmaps) (2.3.0)
Requirement already satisfied: six in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from gmaps) (1.16.0)
Requirement already satisfied: pickleshare in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: backcall in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.18.1)
Requirement already satisfied: colorama in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (63.4.1)
Requirement already satisfied: decorator in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.20)
Requirement already satisfied: matplotlib-inline in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.1.6)
Requirement already satisfied: pygments in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (2.11.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.2)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.5.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (6.9.1)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.2)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: nest-asyncio in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (1.5.5)
Requirement already satisfied: jupyter-client<8.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (7.3.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.8.3)
Requirement already satisfied: fastjsonschema in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.16.2)
Requirement already satisfied: jupyter_core in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.11.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.16.0)
Requirement already satisfied: wcwidth in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.12)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.3.10)
Requirement already satisfied: importlib-metadata in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.11.3)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (5.2.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (21.4.0)
Requirement already satisfied: typing-extensions in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.3.0)
Requirement already satisfied: pyzmq>=23.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (23.2.0)
Requirement already satisfied: entrypoints in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jupyter_core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (302)
Requirement already satisfied: argon2-cffi in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.3.0)
Requirement already satisfied: prometheus-client in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.14.1)
Requirement already satisfied: jinja2 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.0.3)
Requirement already satisfied: nbconvert>=5 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.4.4)
Requirement already satisfied: terminado>=0.8.3 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.13.1)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.8.0)
Requirement already satisfied: zipp>=3.1.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from importlib-resources>=1.4.0->jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.8.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: testpath in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.13)
Requirement already satisfied: beautifulsoup4 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.11.1)
Requirement already satisfied: bleach in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (4.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: defusedxml in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.1.1)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (21.3)
Requirement already satisfied: pycparser in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.21)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\augus\anaconda3\envs\pythondata\envs\pythondata\lib\site-packages (from packaging->bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.0.9)
Note: you may need to restart the kernel to use updated packages.

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [78]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

     Lat     Lng
0  41.12   80.26
1  -5.20  -35.46
2  37.27  -87.18
3 -33.92   25.57
4  51.03   -4.22
5  17.38   78.47
6 -33.59   26.89
7  -9.80 -139.03
8  22.08 -159.32
9  59.70   30.79

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [79]:
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Add a marker layer for each city to the map. 

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer

fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))

In [74]:
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)